.image-background {
  background-size: cover;
  height: 500px;
  position: relative; 
  justify-content: center;
  align-items: center;
}

.main-div {
  line-height: 27px;
  width: 28%;
  padding-top: 119px;
  padding-left: 813px;;
}

.title {
  color: #bf3654;
  border-color: #bf3654;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 49px;
}