.image-background {
  position: relative;
  background-size: cover;
  height: 700px;
  background-position: center;
  @include respond-to(mobile){      
    height: 605px;
    background-position: right center;
  }
  @include respond-to(medium-screens){
    height: 500px;
    background-position: right center;
  }
}


.main-div {
  position: absolute;
  width: 100%;
  max-width: 500px;
  right: 18px;
  top: 20%;
  @include respond-to(mobile){    
    left: 7%;
    top: 2%;
    right: 7%;
  }
  @include respond-to(medium-screens){
    width: 88%;
    top: 6%;
    left: 32%;   
  }
}

.title {
  color: $dark-red;
  border-color: $dark-red;
  letter-spacing: 3px;
  font-weight: bold;
  font-family: $charfamily;
  font-size: 14px;
  line-height: 29px;
  @include respond-to(mobile){
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 550;
    line-height: 2em;      
  }
  @include respond-to(medium-screens){ 
    letter-spacing: 3px;
  }
}

.subtitle {
  width: 79%;
  font-size: 52px;
  line-height: 47px;
  padding-bottom: 30px;
  font-family: $charfamily;
  @include respond-to(mobile){      
    line-height: 1em;
    width: 100%;
    font-size: 40px;
  }
  @include respond-to(medium-screens){  
    width: 82%;
    font-size: 40px;
    line-height: 58px;
  }
}

.description {
  width: 85%;
  line-height: 32px;
  font-size: 17px;
  color: $font-grey;
  text-align: justify;
  font-family: $charfamily;
  font-weight: 200;
  @include respond-to(mobile){ 
    line-height: 32px;
    font-size: 22px;
    color: $font-grey;     
  }
  @include respond-to(medium-screens){
    line-height: 32px;
  }
}

.image-bg{
  position: relative;
  background-size: cover;
  height: 500px;
  background-position: center;
}
