.main-div .join:hover {
  background-color: $hover-orange;
  color: white;
  @include respond-to(mobile) {
    background-color: $dark-red;
    width: 60%;
    text-align: center;
    height: 51px;
    font-size: 14px;
    border-radius: 34px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 12px;
  }
}

.main-div .join {
    background-color: $dark-red;
    position: relative;
    color: white;
    width: 40%;
    text-align: center;
    height: 58px;
    font-size: 14px;
    border-radius: 34px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 25px;
    @include respond-to(medium-screens) {
      width: 30%;  
      height: 45px;
      font-size: 14px;
    }
    @include respond-to(mobile){
      width: 60%;
    }
  }


.bitcoin-join {
  position: absolute;
  left: 30%;
  top: 38%;
  font-family: $charfamily;
  font-weight: 700;
  @include respond-to(medium-screens) {
    top: 30%;      
  }
  @include respond-to(mobile){
    left: 30%;
    top: 34%;
  }
}