/*
  ##Device = Desktops
  ##Screen = 1023px to higher resolution desktops
*/
@media screen and (min-width: 1024px){
.freeimage {
  background-size: cover;
  background-position: right center;
  height: 700px;
  position: relative;
  padding: 33px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 99px;
}

.container label{
  display:none;
}

.contact-wrapper {
  display: flex;
}

.free-subtitle {
  color: #bf3654;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
}

.free-subtitle {
  color: #bf3654;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
}

.free-title {
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 33px;
  padding-top: 20px;
  font-weight: 549;
}

.free-name .form-text , .free-address .form-email , .free-subject .form-text {
  height: 41px;
  width: 100%;
  border-radius: 33px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-style: none;
}

.free-question .form-textarea{
  height: 160px;
  width: 100%;
  border-radius: 33px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-style: none;
}

.send-link .form-text {  
  height: 59px;
  text-align: center;
  border-radius: 33px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  width: 10%;
  background-color: #bf3654;
  color: white;
  text-transform: uppercase;
}

svg.svg-inline--fa.fa-envelope.fa-w-16 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: #bf3654;
  top: 37%;
  left: 37%;
}

svg.svg-inline--fa.fa-user.fa-w-14 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: #bf3654;
  top: 37%;
  left: 6%;
}

svg.svg-inline--fa.fa-paperclip.fa-w-14 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: #bf3654;
  top: 37%;
  left: 68%;
}

svg.svg-inline--fa.fa-pencil-alt.fa-w-16 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: #bf3654;
}

.free-name{
  padding: 30px;
}

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 767px to 1023px
*/

@media (min-width: 768px) and (max-width: 1023px) {

}

/*
  ##Device = Mobiles
  ##Screen = B/w 320px to 767px
*/

@media (min-width: 320px) and (max-width: 767px) {
  .freeimage {
    background-size: cover;
    background-position: right center;
    height: 688px;
    position: relative;
  }

  .free-subtitle {
    text-align: center;
    color: #bf3654;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 14px;
  }

  .free-title{
    text-align: center;
    font-size: 44px;
    font-family: sans-serif;
    padding-top: 14px;
  }

  .free-title {
    font-size: 43px;
    font-family: sans-serif;
  }

  .container {
    top: 33%;
    position: absolute;
    top: 15%;
  }

  .container label{
    display:none;
  }

  .contact-form {
    padding-top: 55px;
  }

  input#edit-field-full-name-0-value , input#edit-field-your-subject-0-value , input#edit-field-address-0-value{
    height: 34px;
    border-radius: 23px;
    border-style: none;
    text-align: center;
    font-size: 16px;
    width: 79%;
  }

  .free-name , .free-address ,.free-subject{
    padding-bottom: 15px;
    padding-left: 60px;
  }

  .free-question{
    padding-left: 60px;
  }

  textarea#edit-field-your-question-0-value {
    border-style: none;
    height: 156px;
    border-radius: 31px;
    width: 78%;
    text-align: center;
    font-size: 15px;
  }

  .send-link .form-text {
    height: 59px;
    text-align: center;
    border-radius: 33px;
    border-style: none;
    font-weight: bold;
    font-size: 15px;
    width: 59%;
    background-color: #bf3654;
  }

  .send-link {
    text-align: center;
    padding-top: 18px;
  }

  input#edit-field-send-link-0-title {
    color: white;
    text-transform: uppercase;
  }
}
<<<<<<< HEAD
.ajax-example-simplest {
    position: relative;
    width: 100%;
}
.bitcoinwrapper{
    height: 500px;
    background-repeat: no-repeat;
}
#ajax-example-simplest{
    left: 200px;
    top: 200px;
    width: 50%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.js-form-item-amount,.form-item-type-options2, .form-item-type-options1{
    margin: 20px;
}
.form-wrapper{
    margin: 20px;
}
#edit-amount, #edit-display-amount,#edit-type-options1, #edit-type-options2, #textfields-container{
    border-radius: 50px;
    height: 40px;
    width: 200px;
    font-size: 14px;
}
=======

//This is my code.
.ajax-example-simplest {
    position: relative;
    width: 100%;
    .bitcoinwrapper{
      height: 675px;
      .currencywrap{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        width: 100%;
        max-width: 500px;
        padding: 20px;
        position: absolute;
        left: 100px;
        @include respond-to(mobile){
          left: 20px;
        }
      }
     }
     #ajax-example-simplest{
         left: 200px;
         top: 350px;
         display: flex;
         flex-wrap: wrap;
         @include respond-to(mobile){
          margin: 0 auto;
          left: 0;
          max-width: 100%
        }
     }
     .js-form-item-amount,.form-item-type-options2, .form-item-type-options1,.form-wrapper{
         margin: 10px;
         width: 40%;
     }

     #edit-amount, #edit-display-amount, #edit-type-options1, #edit-type-options2, .display_amount{
         border-radius: 50px;
         height: 40px;
         font-size: 14px;
         padding: 5px 40px;
         text-align: center;
         -webkit-appearance: none;
         width: 100%;
        box-sizing: border-box;
     }
     .top_title{
       top: 10px;
       font-size: 20px;
       color:#bf3654;
     }
     .block_title{
       top: 60px;
       font-weight: bold;
       font-size: 30px;
       color:black;
     }
     .bitcoin_description{
       top: 150px;
       min-width: 50%;
       @include respond-to(mobile){
         width: 100%;
       }
       line-height: 1em;
       font-size: 20px;
       color: white;
     }
     .bitcoin_description, .block_title, .top_title{
       width: 100%;
       margin: 20px;
     @include respond-to(mobile){
       left: 0;
     }
     }
}

>>>>>>> b0c28013a64fefdbb003ff0dcf6a499a78991bab

