/*
  ##Device = Desktops
  ##Screen = 1023px to higher resolution desktops
*/

.freeimage {
  background-size: cover;
  background-position: right center;
  height: 700px;
  position: relative;
  padding: 33px;
}

.container {
  // padding-right: 15px;
  // padding-left: 15px;
  padding-top: 99px;
}

.container label{
  display:none;
}

// .contact-wrapper {
//   display: flex;
// }

.free-subtitle {
  color: $dark-red;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
}

.free-subtitle {
  color: $dark-red;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
}

.free-title {
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 33px;
  padding-top: 20px;
  font-weight: 549;
  @include respond-to(mobile){
    font-size: 40px;
  }
}

.free-name .form-text , .free-address .form-email , .free-subject .form-text {
  height: 41px;
  border-radius: 33px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-style: none;
  @include respond-to(wide-screens){
    width: 84%;
  }
}
@include respond-to(wide-screens){
  .contact-wrapper {
    width: 100%;
    display: flex;
  }
}

.free-question .form-textarea{
  height: 160px;
  width: 100%;
  border-radius: 33px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-style: none;
}

.send-link .form-text {  
  height: 59px;
  text-align: center;
  border-radius: 33px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  width: 10%;
  background-color: $dark-red;
  color: white;
  text-transform: uppercase;
  width: 100%;
  max-width: 262px;
  @include respond-to(medium-screens){
    width: 94%;
    max-width: 289px;
    margin: 0 auto;
  }
}

.send-link {
  margin: 0 auto;
  width: 100%;
  max-width: 239px;
}

svg.svg-inline--fa.fa-envelope.fa-w-16 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: $dark-red;
  top: 37%;
  left: 37%;
  @include respond-to(medium-screens){
    left: 39;
  }
}

svg.svg-inline--fa.fa-user.fa-w-14 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: $dark-red;
  top: 37%;
  left: 6%;
  @include respond-to(medium-screens){
    left: 10%;
  }
}

svg.svg-inline--fa.fa-paperclip.fa-w-14 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: $dark-red;
  top: 37%;
  left: 68%;
  @include respond-to(medium-screens){
    left: 70%;
  }
}

svg.svg-inline--fa.fa-pencil-alt.fa-w-16 {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  position: absolute;
  color: $dark-red;
  top: 48%;
  left: 7%;
  @include respond-to(medium-screens){
    left: 10%;
  }
}


/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1023px
*/

@include respond-to(medium-screens){
  .contact-wrapper{
    width: 100%;
    display: flex;
  }

  .free-name .form-text, .free-address .form-email, .free-subject .form-text {
    width: 100%;
  }

  .container {
    padding-top: 99px;
  }
}

/*
  ##Device = Mobiles
  ##Screen = B/w 320px to 767px
*/

@include respond-to(mobile) {
  .freeimage {
    height: 688px;
  }

  svg.svg-inline--fa.fa-user.fa-w-14 {
    top: 35%;
    left: 15%;
  }

  svg.svg-inline--fa.fa-envelope.fa-w-16 {
    top: 43%;
    left: 15%;
  }

  svg.svg-inline--fa.fa-paperclip.fa-w-14 {
    top: 51%;
    left: 15%;
  }

  .free-name .form-text, .free-address .form-email, .free-subject .form-text,.free-question .form-textarea{
    margin-left: -37px;
    width: 284px;
  }

  svg.svg-inline--fa.fa-pencil-alt.fa-w-16 {
    top: 59%;
    left: 15%;
  }

  .send-link .form-text {
    height: 46px;
    width: 52%;
    text-align: center;
    margin-left: 45px;
  }

  .freeimage {
    height: 716px;
  }

  .free-main {
    padding-bottom: 134px;
  }
}

/* DANISH */

.ajax-example-simplest {
    position: relative;
    width: 100%;
}
.bitcoinwrapper{
    height: 500px;
    background-repeat: no-repeat;
}
#ajax-example-simplest{
    left: 200px;
    top: 200px;
    width: 50%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.js-form-item-amount,.form-item-type-options2, .form-item-type-options1{
    margin: 20px;
}
.form-wrapper{
    margin: 20px;
}
#edit-amount, #edit-display-amount,#edit-type-options1, #edit-type-options2, #textfields-container{
    border-radius: 50px;
    height: 40px;
    width: 200px;
    font-size: 14px;
}

//This is my code.
.ajax-example-simplest {
    position: relative;
    width: 100%;
    .bitcoinwrapper{
      height: 675px;
      .currencywrap{
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        width: 100%;
        max-width: 500px;
        padding: 20px;
        position: absolute;
        left: 100px;
        @include respond-to(mobile){
          left: 20px;
        }
      }
     }
     #ajax-example-simplest{
         left: 200px;
         top: 350px;
         display: flex;
         flex-wrap: wrap;
         @include respond-to(mobile){
          margin: 0 auto;
          left: 0;
          max-width: 100%
        }
     }
     .js-form-item-amount,.form-item-type-options2, .form-item-type-options1,.form-wrapper{
         margin: 10px;
         width: 40%;
     }

     #edit-amount, #edit-display-amount, #edit-type-options1, #edit-type-options2, .display_amount{
         border-radius: 50px;
         height: 40px;
         font-size: 14px;
         padding: 5px 40px;
         text-align: center;
         -webkit-appearance: none;
         width: 100%;
        box-sizing: border-box;
     }
     .top_title{
       top: 10px;
       font-size: 20px;
       color:#bf3654;
     }
     .block_title{
       top: 60px;
       font-weight: bold;
       font-size: 30px;
       color:black;
     }
     .bitcoin_description{
       top: 150px;
       min-width: 50%;
       @include respond-to(mobile){
         width: 100%;
       }
       line-height: 1em;
       font-size: 20px;
       color: white;
     }
     .bitcoin_description, .block_title, .top_title{
       width: 100%;
       margin: 20px;
     @include respond-to(mobile){
       left: 0;
     }
     }
}


