	.icon_wrapper_wrapper {
			height: 600px;
			@include respond-to(mobile){
				height: 1000px;
			}
			width: 100%;
			background-color: #D6DBDF;
			padding-top: 10%;
			.icon_wrapper {
				display: flex;
				justify-content: space-between;
				width: 80%;
				margin: 0 auto;
				@include respond-to(mobile){
					flex-direction: column;

				}
				div{
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
				}
				.icons_image {
					svg {
						// height: 30%;
						// width: 20%;
						font-size: 2em;
							//height: 30%;
							//width: 20%;
							margin: 20px;
							padding: 50px;
							border: 2px dotted gray;
						border-radius: 50%;
						background-size: cover;
						// margin-left: 30%;
						// padding: 15%;
						border: 2px dotted gray;
					}
					// .fontawesome-icon {
					// 	// margin: 20px;
					// 	// svg.svg-inline--fa.fa-user.fa-w-14 {
					// 	// 	position: relative;
					// 	// }
					// }
				}
			}
			.title {
				font-weight: bold;
				text-align: center;
				font-size: 1.5rem;
				color:black;
		}
		.description {
			text-align: center;
			font-size: 1.2rem;
			margin: 10px;
			// margin: 20px;
	}
}

	div {
		.icon_wrapper {
			div {
				&:nth-child(1) {
					.title {
						&:hover {
							color: $pink;
						}
					}
				}
			}
		}
	}
	div {
		.icon_wrapper {
			div {
				&:nth-child(2) {
					.title {
						&:hover {
							color: $orange;
						}
					}
				}
			}
		}
	}
  div {
		.icon_wrapper {
			div {
				&:nth-child(3) {
					.title {
						&:hover {
							color: $yellow;
						}
					}
				}
			}
		}
	}
	.paragraph--type--icons:hover svg {
			transform: scale(1.1, 1.1);
			transition: 2s;
	}

.icon_wrapper .svg-inline--fa.fa-w-14 {

	color: $pink;
}
.svg-inline--fa.fa-w-20 {
	color: $orange;
}
.icon_wrapper .svg-inline--fa.fa-w-16 {
	color: $yellow;
}

// @media (max-width: $break-small) {
// 	.fontawesome-icon {
// 		margin-left:0px;
// 	}
// 	.icon_wrapper_wrapper {
// 			height: auto;
// 			width: 100%;
// 			background-color: #D6DBDF;
// 			padding-bottom: 10%;
// 	}
// 	.icon_wrapper {
// 			margin-left: 20%;
// 			height: 90%;
// 			width: 60%;
// 			margin: 0 auto;
// 	}
// 	.title {
// 			font-weight: bold;
// 			margin-left: 10%;
// 			font-size: 1.5rem;
// 			color:black;
// 	}
// 	.description {
// 			text-align: center;
// 			font-size: 1.2rem;
// 	}
// 	.paragraph--type--icons {
// 			margin-top: 10%;
// 	}

// 	.paragraph--type--icons:hover svg {
// 			transform: scale(1.1, 1.1);
// 			transition: 2s;
// 	}
// 	.icon_wrapper>div {
// 			padding-top: 10%;
// 	}
// 	div {
// 		.icon_wrapper {
// 			div {
// 				&:nth-child(1) {
// 					.title {
// 						&:hover {
// 							color: $pink;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// 	div {
// 		.icon_wrapper {
// 			div {
// 				&:nth-child(2) {
// 					.title {
// 						&:hover {
// 							color: $orange;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
//   div {
// 		.icon_wrapper {
// 			div {
// 				&:nth-child(3) {
// 					.title {
// 						&:hover {
// 							color: $yellow;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
