#block-mainnavigation{
.top-menu{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 0px;
    border-top: 1px solid;
    .sub-menu{
        background-color: white;
        @include respond-to(mobile){
            background-color: #151719;
            cursor: pointer;
        }
        .sub-links{
            text-decoration:none;
            color: #333333;
            @include respond-to(mobile){
                color: #ffffff;
                text-decoration: none;
                font-weight: bold;
            }
        }
        .sub-links:visited {
            color:#bf3654;

        }
        .sub-links:hover{
            color:#fab915;
        }
    }
}
}

@include respond-to(mobile){
    .sidebar {
        background-color: #151719;
        height: 100%;
        position: fixed;
        top:0px;
        z-index: 1;
        display: none;
        .sf-accordion-toggle{
            display: none;
        }
        .top-menu{
            display: flex !important;
            flex-direction: column;
        }
    }

    .menu{
        .toggle-btn{
            right: 0px;
            top:0;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            .fa-bars{
                font-size: 35px;
                margin: 5px 0px;
                width: 30px;
                height: 20px;
            }
            .fa-times{
                font-size: 35px;
                margin: 5px 0px;
                width: 30px;
                height: 20px;
                display: none;
            }
        }
        .toggle-btn.active {
            .sidebar{
                display: block;
            }
            .fa-bars{
                display: none;
            }
            .fa-times{
                display: block;
            }
        }
    }

}

/*
#toolbar-administration{
    display: none;
}
*/