@media (min-width: $break-large) {

	.radescription	{
		font-size: 1.1rem;
		color:$lightgray
	}
	#block-views-block-services-view-block-1	{
		font-family: 'Raleway', sans-serif;
		width:100%;
		height: 900px;
		background-image: url("../../images/advantages.jpg");
		background-position: center;
		background-size: cover;
		position:absolute;
		overflow:hidden;
	}
	// .views-view-grid {

	// 	height:100%;
	// 	background-image: url("../../images/advantages.jpg");
	// 	background-size: cover;

	// }
	.racontent >div	{
		padding-top: 3%;
		padding-left: 7%;
	}
	.row-2 > .col-2 > .ratitle{
		padding-left:1%;
	}

	#block-views-block-services-view-block-1{
		.fontawesome-icons{
			svg{
				padding-left:24%;
				font-size: 2rem;
		  }
		}
	}
	// #block-views-block-services-view-block-1	{
	// 	.fa-cube	{
	// 		&:hover{
	// 			font-size: 3rem;
	// 		}

	// 	}
	// }
  .row-1	{
		.fa-cube {
			 color:$orange;
		}
	}
	.row-2	{
		.col-2	{
			.ratitle	{
				margin-left:26%;
			}
		}
	}
	.row-2	{
		.fa-wallet	{
			color:$yellow;
		}

	}
	.row-3	{
		.fa-lock	{
			color: $pink;
		}
	}
	.row-1	{
		.fa-comment	{
			color:$pink;
		}
	}
	.row-2	{
		.fa-lightbulb	{
			color:$yellow;
		}
	}
	.row-3	{
		.fa-mobile-alt	{
			color:$orange;
		}
	}
	.row-1{
		.col-1	{
			.ratitle	{
				&:hover{
					color: $pink;
				}
			}
		}
	}
	.row-1	{
		.col-2	{
			.ratitle	{
				&:hover{
					color: $orange;
				}
			}
		}
	}
	.row-2	{
		.col-1	{
			.ratitle	{
				&:hover	{
					color: $yellow;;
				}
			}
		}
	}
}
