/*THIS CODE BELONGS TO ME*/

img{
    max-width: 100%;
}
.para-slide{
    position: relative;
    @include respond-to(mobile){
        position: static;
    }
    .slide-image{
        img{
            max-width: 100%;
            height: 675px;
            @include respond-to(mobile){
                height: 330px;;
            }
        }
    }
}
.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    margin: 0;
    bottom: auto;
    top: 50%;
    transform: rotate(90deg);

    @include respond-to(mobile){
        position: static;
        transform: inherit;
        top:0;
        background-color: #333333;
    }

        li {
            margin: 0 0.25rem;
        }

        button {
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            font-size: 0;
            border: none;
            outline: none;
            border-radius: 100%;
            background-color: white;
            cursor: pointer;

        }

        li.slick-active button {
            background-color:$dark-red;
        }
}

//Animation for slider
.slick-active{
    .slide_description_wrapper{
        animation: fadeIn 1s ease-in both;
        @include respond-to(mobile){
            animation: 0;
        }
    }
    .slide_description{
        @include respond-to(mobile){
            animation: move 1s ease-in both;
        }
    }
}

.slide_description_wrapper{
    color:white;
    width: 1140px;
    height: 550px;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    top:0;
    left: 150px;
    top: 190px;
    line-height: 5em;
    @include respond-to(mobile){
        max-width: 100%;
        background-color: #333333;
        text-align: center;
        position: initial;
        margin: 0;
        height: auto;
    }
        .slider-body{
            font-size: 80px;
            .grey{
                color: #333333;
                @include respond-to(mobile){
                    color:white;
                }
            }
            .highlight-semibold{
                color: $dark-red;
            }
        }
}
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translate3d(0, 0, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, -20%, 0);
        }
    }

    @keyframes move {
        from {
            opacity: 0;
            transform: translate3d(0, 30%, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    #block-views-block-testimonial-view-block-1 {
        width: 100%;
        height: 635px;
        max-width: 581px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        @include respond-to(mobile){
            height: auto;
        }        
        @include respond-to(medium-screens){
            max-width: 540px;
        }        
        .slick-dots {
            top: 100%;
            left: 44%;
            -webkit-transform: none;
            transform: none;
            @include respond-to(mobile){
                background-color: transparent;
            }
            button{
                background-color: black;
            }
        }    
        li{
            &.slick-active {
                button {
                    background-color:$dark-red;
                }  
            } 
        }

        .slick-slide {
            img {
            display: block;
            border-radius: 129px;
            margin: 0 auto;
            width: 100%;
            max-width: 256px;
            height: 251px;
            }
        }
        
        .test-icon {
            background-color: #fab915;
            width: 100%;
            max-width: 82px;
            margin: 0 auto;
            height: 81px;
            border-radius: 42px;
            position: absolute;
            top: 27%;
            right: 155px;
            @include respond-to(mobile){
                top: 25%;
                right: 35px;
            }
        }

        svg.svg-inline--fa.fa-quote-left.fa-w-16.fa-3x {
            color: white;
            width: 100%;
            max-width: 36px;
            margin: 0 auto;
            padding-top: 13px;
        }
        .fivestar-summary{
            &.fivestar-summary-average-count {
                display: none;
            }
        }
        .cancel{
            display: none;
        }

        .fivestar-widget{
            &.clearfix{
                &.fivestar-widget-5 {
                    height: 57px;
                    width: 100%;
                    max-width: 85px;
                    margin: 0 auto;
                }
            }        
        }


        .testimonial-first {
            line-height: 4em;
            text-transform: uppercase;
            color: $dark-red;
            letter-spacing: 0.2em;
            font-weight: bold;
        }

        .testimonial-last {
            font-size: 55px;
            font-family: $charfamily;
            height: 76px;
        }

        .testimonial-body {
            font-size: 21px;
            font-family: $charfamily;
            color: $font-grey;
            font-style: italic;
            line-height: 1.3em;
            font-weight: 300;
        }

        div#slick-slide11 .testimonial-first {
            color: $hover-orange;         
        }
    }
    
    