#block-views-block-testimonial-view-block-1 {
    width: 100%;
    height: 635px;
    max-width: 581px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    font-family: $charfamily;
    @include respond-to(wide-screens){
        padding-top: 100px;
    }
    @include respond-to(mobile){
        height: auto;
    }
    @include respond-to(medium-screens){
        max-width: 540px;
    }
    .slick-dots {
        top: 100%;
        left: 44%;
        -webkit-transform: none;
        transform: none;
        @include respond-to(mobile){
            background-color: transparent;
        }
        button{
            background-color: black;
        }
    }
    li{
        &.slick-active {
            button {
                background-color:$dark-red;
            }
        }
    }
    .slick-slide {
        img {
        display: block;
        border-radius: 129px;
        margin: 0 auto;
        width: 100%;
        max-width: 256px;
        height: 251px;
        }
    }
    @include respond-to(wide-screens){
        .test-quote {
            padding-left: 343px;
        }
    }
    @include respond-to(mobile){
        .test-quote {
        padding-left: 222px;
        }
    }


    .icon-test {
        // background-color: #fab915;
        width: 100%;
        max-width: 82px;
        margin: 0 auto;
        height: 81px;
        border-radius: 42px;
        position: absolute;
        top: 27%;
        // right: 155px;
        // @include respond-to(mobile){
            // top: 25%;
            // right: 35px;
        // }
    }
    svg.svg-inline--fa.fa-quote-left.fa-w-16.fa-3x {
        color: white;
        width: 100%;
        max-width: 36px;
        margin: 0 auto;
        padding-top: 13px;
        font-size: 1.7em;
        padding-top: 28px;
    }
    .fivestar-summary{
        &.fivestar-summary-average-count {
            display: none;
        }
    }
    .cancel{
        display: none;
    }
    h2{
        display: none;
    }
    .fivestar-widget{
        &.clearfix{
            &.fivestar-widget-5 {
                height: 57px;
                width: 100%;
                max-width: 85px;
                margin: 0 auto;
            }
        }
    }
    .first-test {
        line-height: 4em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: bold;
    }
    .last-test {
        font-size: 55px;
        font-family: $charfamily;
        height: 76px;
        color: black;
    }
    .body-test {
        font-size: 20px;
        font-family: $charfamily;
        color: $font-grey;
        font-style: italic;
        line-height: 1.3em;
        font-weight: 300;
    }
    .slick-slide{
        &:nth-child(1n){
            color:$dark-red;
            .icon-test{
                background-color: #fab915;
            }
        }
        &:nth-child(2n){
            color:#f58770;
            .icon-test{
                background-color: #f58770;
            }
        }
        &:nth-child(3n) {
            color: #fab915;
            .icon-test{
                background-color: $dark-red;
            }
        }


    }
}