@mixin respond-to($media) {
    @if $media == mobile {
      @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $media == wide-screens {
      @media only screen and (min-width: $break-large) { @content; }
    }
  }

  @mixin button-bg($color, $bg) {
    background: $color;
    &:hover {
      background:($bg);
      transition: all 0.3s ease;
    }
  }

  // //Aligns slider text
  // @mixin change-text-position($data-slick-index){
  //   @if $data-slick-index == 1 {
  //     text-align-last: center;
  //   }
  //   @else if $data-slick-index == 2{
  //     text-align-last: right;
  //   }
  // }