$break-large:1024px;
$break-small:768px;

//colors
$pink:#bf3654;
$orange:#f58770;;
$yellow:#fab915;
$grey: #808080;
$lightgray:#d3d3d3;
$white: white;
$lightblack:rgb(31, 26, 26);
$background:#f6f7f9;

/* font-family*/
$charfamily: sans-serif;

/* text-color */
$font-grey: grey;

/*icon and button color */
$dark-red: #bf3654;
$hover-orange: orange;