{{ kint(file_url(paragraph.field_free_quote_image.entity.uri.value)) }}

<div class="image-bg" style="background-image: url('{{ file_url(paragraph.field_free_quote_image.entity.uri.value) }}');">
</div>